<div class="container" ng-controller="GameCtrl" ng-init = "init()" >
  <div class="row">
    <div id="user">
      <img id="user_image" src='{{user.image}}' %> 
      {{user.name}}
    </div>
  </div>
  <div class="row">
    <h1>In Game</h1>
  </div>
  <div class="searchsite" ng-click="selectDice()" ng-init="count=0" >
    <svg id="dice" width="100" height="200" >
    </svg>
  </div>

  <button ng-click="count = count + 1" ng-init="count=0">
  Increment
</button>
<span>
  count: {{count}}
</span>
</div>
